body {
    font-family: Arial, sans-serif;
    margin: 1rem;
    padding: 0;
    background-color: #0a0f0f;
}

h2 {
    color: rgb(31, 150, 150);
    margin: 2rem
}

header {
    background-color: #0a0f0f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    color: #bd9f67;
    text-align: center;
    padding: 2rem;

}


nav {
    justify-content: space-between;
    margin-top: -20px;
    padding: 2rem;
    max-height: 0.5rem;
}

a {
    color: #b0f8fd;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* para un mejor scrolling en dispositivos táctiles */
  padding: 10px;
  border-radius: 20px;
}

.horizontal-scroll .project {
  flex: 0 0 auto; /* para evitar que los elementos se estiren */
  margin-right: 20px; /* espacio entre proyectos */
  scroll-snap-align: start;
  /* otros estilos para tus proyectos */
}

/* Estiliza la barra de desplazamiento (totalidad) */
.horizontal-scroll::-webkit-scrollbar {
  width: 10px; /* Grosor de la barra de desplazamiento */
  height: 10px; /* Altura, útil para desplazamiento horizontal */
}

/* Estiliza la pista de la barra de desplazamiento */
.horizontal-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la pista */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estiliza el pulgar de la barra de desplazamiento */
.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #888; /* Color del pulgar */
  border-radius: 10px; /* Bordes redondeados */
}

/* Cambia el color del pulgar al pasar el ratón */
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del pulgar al pasar el ratón */
}
.aboutme {
  /*borde redondo*/
  border-radius: 10px;
  background-color: #1f1f1f;
  color:#ccc;
  padding: 20px;
  margin: 20px;
  text-align: center;
  margin-left: 1rem;
}

.project {
    /*borde redondo*/
    border-radius: 10px;
    background-color: #1f1f1f;
    color:#ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
    margin-left: 1rem;
    min-width: 400px;
    max-width: 400px;

}

.project img {
    max-width: 20%;
    border-radius: 20px;
}

/* Estilos de contacto */
#contact {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 20px;
    margin-left: 1rem;
    margin-right: 1.3rem;
    text-align: left;
    color:#ccc;
}

.project p {
    text-align: left;
}


footer {
    background-color: #ccc;
    color: #000;
    text-align: center;
    padding: 1rem 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -1rem;
    text-align: center;
}

.buttons a {
    text-decoration: none;
}

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: rgb(31, 150, 150);
    --fs-size: 1.3em;
    letter-spacing: px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 1s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.spinner {
    background-image: linear-gradient(rgb(69, 189, 0) 35%, rgb(255, 30, 0));
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(69, 189, 0), 0px 5px 20px 0px rgb(255, 30, 0);
}

.spinner1 {
    background-color: rgb(219, 219, 219);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}

input:checked+.slider {
    background-color: #303136;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* 
-------------

TARJETA DE VISITA 

------------
*/

.e-card {
    margin: 50 auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 400;
    min-height: 200px;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 1200px;
    height: 1300px;
    opacity: 0.4;
    left: 0;
    top: 0;
    margin-left: -40%;
    margin-top: -30%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 30px;
    position: absolute;
    top:1.6em;
    left: 0;
    right: 0;
    color: #bd9f67;
    font-weight: 600;

  }
  
  .name {
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: 1em;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 180px;
  }
  
  .playing .wave {
    border-radius: 50%;
    animation: wave 5000ms infinite linear;
  }
  
  .wave {
    border-radius: 70%;
    animation: wave 90s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/* 
-------------

SOCIAL MEDIA 

------------
*/
.socialparent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialchild {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
}

.socialchild:hover {
  background-color: rgb(195, 195, 195);
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

.socialbutton {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.socialbutton:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
  border-radius: 50%;
}