body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 2rem
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

nav{
    background-color: #8f8f8f;    color: #fff;
    text-align: left;
    padding: 2rem;
    max-height: 0.5rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
}


.project {
    /*borde redondo*/
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
    text-align: center;
    margin-left: 2rem;
}

.project img {
    max-width: 100%;
}

/* Estilos de contacto */
#contact {
    background-color: #f5f5f5;
    padding: 2rem;
    text-align: left;
}

.project p {
    text-align: left;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#contact li {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#contact li:nth-child(1) {
    animation-delay: 0.5s;
}

#contact li:nth-child(2) {
    animation-delay: 1s;
}





footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

