/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

/* Estilos de proyectos */
.project {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.project img {
    max-width: 100%;
}

/* Estilos de contacto */
#contact {
    background-color: #f5f5f5;
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
