body {
    font-family: Arial, sans-serif;
    margin: 1rem;
    padding: 0;
    background-color: #f5f0f0;
}

h2 {
    color: rgb(224, 105, 105);
    margin: 2rem
}
header {
    background-color: #333;
    background-image: url('../images/background_name.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: 2rem;
}


nav{
    border: 1px solid #333;
    border-color: #333;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: -20px;
    padding: 2rem;
    max-height: 0.5rem;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-self: self-start;
    padding: 0;
}

nav ul li {
    margin-top: -18px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: rgb(224, 105, 105);
    padding: 0.5rem;
    text-decoration: none;
    color: #ffffff;
    width: 5rem;
    text-align: center;
}

a {
    color: #21a2ed;
}
.project {
    /*borde redondo*/
    border-radius: 10px;
    background-color: #e0e0e0;
    padding: 20px;
    margin: 20px;
    text-align: center;
    margin-left: 1rem;
}

.project img {
    max-width: 100%;
}

/* Estilos de contacto */
#contact {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin-left: 1rem;
    margin-right: 1.3rem;
    text-align: left;
}

.project p {
    text-align: left;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.buttons {
    color: #fff;
    text-align: center;
}
.buttons a {
    color: #fff;
    text-decoration: none;
}
